Repository satorijs/satori, pull requests merged in 2023-03, with the labels that each got.

#78 feat(telegram): improve browser compatibility
  adapters/telegram/package.json
  adapters/telegram/src/bot.ts
  adapters/telegram/src/message.ts
  packages/axios/src/index.ts
Labels: feature, platform: telegram

#57 feat(discord): add user agent
  adapters/discord/src/bot.ts
Labels: platform: discord

#81 feat(feishu): refresh token every 1 hour
  adapters/feishu/src/bot.ts
Labels: feature, platform: feishu

#82 feat(feishu): try to extract message from feishu error response
  adapters/feishu/src/message.ts
Labels: feature, platform: feishu
